:root {
	--surface: #0c0e12;
	--surface-dim: #0c0e12;
	--surface-container: #171a1f;
	--surface-container-high: #1d2025;
	--surface-container-highest: #23262c;
	--surface-variant: #23262c;

	--on-surface: #f6f6fc;
	--on-surface-variant: #aaabb0;

	--primary: #81ecff;
	--primary-dim: #00d4ec;
	--on-primary: #005762;

	--secondary: #45a3f7;
	--tertiary: #ad9fff;

	--outline: #74757a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
